



// Стили для ПК
.RatingContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    //background-color: cornflowerblue;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    border: 1px solid #0000002f;
    @media screen and (max-width: 768px) {

        .RatingContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: stretch;
            border: 1px solid #0000002f;
            border-radius: 10px;
            background-color: #ffa600cc;
        }
    }
}

.ConstainerComponentProductPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.Container{
    width: 80%;
    @media screen and (max-width: 768px){
        width: 100%;
    }
}

.ConstainerComponentProductPageMainContent {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 5px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ConstainerComponentProductPageMainContentCostAndPresent{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    gap: 5px;
    @media screen and (max-width: 950px) {
        width: 100%;
    }

}

.Content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    height: 100%;
    gap: 5px;
    // box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.MainInfoBlock{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    border-radius: 10px;    
    // max-height: 350px;
    @media screen and (max-width: 950px) {
        flex-direction: column;
    }
}

.MainInfo{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    gap: 5px;
    @media screen and (max-width: 950px) {
        width: 100%;
        height: auto;
    }
}

.Info {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    //background-color: darkseagreen;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    border: 1px solid #0000002f;
    // border-radius: 10px;
    background: white;
    // -webkit-backdrop-filter: blur(15px);
    // backdrop-filter: blur(15px);
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    margin-bottom: 25px;
    margin-top: 25px;


}


.Consultation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
}

.SimilarProducts {
    display: flex;
    flex-direction: column;
    //background-color: rgb(255, 0, 0);
    border-radius: 10px;
    width: 100%;
}

.SimilarProductsContainer {
    display: grid;
    flex-direction: row;
    gap: 5px;
    //background-color: rgb(0, 255, 0);
    border-radius: 10px;
    overflow-x: auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.SimilarProductsHeader {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 5px;
}

// Стили для мобильных устройств
@media screen and (max-width: 768px) {
    .ConstainerComponentProductPage {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5px;
    }

    .ConstainerComponentProductPageMainContent {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 0;
    }

    .Content {
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
    }

    .MainInfoBlock{
        display: flex;
        flex-direction: column;
        width: 100%;
        //background-color: bisque;
    }
    
    .MainInfo{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Consultation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
        padding: 5px;
    }

    .SimilarProducts {
        display: flex;
        flex-direction: column;
        //background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }

    .SimilarProductsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        //background-color: rgb(0, 255, 0);
        border-radius: 10px;
        overflow-x: auto;
    }

    .SimilarProductsHeader {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 5px;
    }
}
