@import '@/shared/mixin/mobileOrDesctop.module.scss'; 

.HeaderMenuTop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 850px) {
        flex-direction: column;        
    }
}


.HeaderMenuButton{
    width: calc(90dvw);
}


.Hover{
    cursor: pointer;
    transition: color 0.2s ease-out 100ms;
    border: 1px solid transparent;
    &:hover{
        color: #fec10d;
        border: 1px solid #fec10d;
    }
}