

.MainContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(80dvw);
}

.SubContainer{
    padding-left: 10px;
    width: calc(13dvw);
}



.list{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content:flex-start;
    height: 100%;
    padding-right: 10px;
    margin: 0%;
    gap: 10px;
    border-right: 1px solid #e0e0e0;
}

.Row{
    display: inline-flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
}


.hoverSpan{
    
    border-radius: 5px;
    &:hover{
        cursor: pointer;
        background-color: #fec10d;
        color: #fff;  
    }
}


.MenuImgCategory{
    padding: 2px;
}

///////////////
/// 
#mobile{
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}

#desktop{
    display: block;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.HeaderMenuLine2ContainerCategory{
    display: flex;
    background-color: rgba(0, 0, 255, 0.685);
    border-radius: 10px;
    padding: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 155px;
    &:hover{
        img{
            //Анимация поворота на лево при наведении на категорию
            transition: transform 0.5s;
            transform: rotate(-90deg);
        }
    }

    @media screen and (max-width: 768px) {
        &:hover{
            img{
            //Анимация поворота на лево при наведении на категорию
            transition: none;
            transform: none;
        }}
        flex-direction: column;
        width: 95dvw; 
        // margin-left: 25px;    
        // margin-right: 25px;      
    }    
}