

.MainContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(80dvw);
}

.SubContainer{
    padding-left: 10px;
    width: calc(15dvw);
}



.list{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content:flex-start;
    height: 100%;
    padding-right: 10px;
    margin: 0%;
    gap: 10px;
    border-right: 1px solid #e0e0e0;
}

.Row{
    display: inline-flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
}


.hoverSpan{
    
    border-radius: 5px;
    &:hover{
        cursor: pointer;
        background-color: #fec10d;
        color: #fff;  
    }
}


.MenuImgCategory{
    padding: 2px;
}

///////////////
/// 
#mobile{
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}

#desktop{
    display: block;
    @media screen and (max-width: 768px) {
        display: none;
    }
}