@import '@/shared/mixin/mobileOrDesctop.module.scss'; 

.MainContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container{
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    // background-color: #e5e5e554;
    background-color: rgb(94, 94, 94);
    border-radius: 1%;
    box-shadow: 0 0 10px 0 rgba(197, 168, 0, 0.274);
    flex-direction: column;
    gap: 10px;

    @media (min-width: 1025px) and (max-width: 1440px){
        padding: 10px;
        width: 78%;
    }

    @media (min-width: 768px) and (max-width: 1024px){
        padding: 1px;
        width: 70%;
    }

    @media screen and (max-width: 768px){
        padding: 1px;
        width: 100%;        
    }
}

.GridContainerVertical{
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(3,0.1fr);
    width: 100%;
    justify-items: center;
    justify-content: center;

    @media (min-width: 768px) and (max-width: 1024px){
        gap: 0.1 rem;
        grid-template-columns: repeat(2,0.1fr) !important;
    }
    
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr !important;        
    }
}

.GridContainerHorizontal{
    display: grid;
    gap: 0.1rem;
    grid-template-columns: 1fr !important;
    width: 100%;
    justify-items: center;
    justify-content: center;
}